DataFrame Basics 1

To download a file on your local machine:

In [1]:
using DataFrames
#download("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", "adult.csv")

Create DataFrame from existing file:

In [2]:
using CSV 
df = CSV.read("adult.csv"; header=true); # read csv file as DataFramw
# CSV.write("newfile.csv", df)  # write your df as CSV file

Basic Information about DataFrame

In [3]:
typeof(df)

DataFrame

In [4]:
size(df)

(32561, 15)

In [5]:
size(df, 1), nrow(df)   # both gives number of rows

(32561, 32561)

In [6]:
size(df, 2), ncol(df) # both gives number of columns

(15, 15)

In [7]:
first(df,5)   # first 5 rows of dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education  │ education-num │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰    │ Int64⍰        │
├─────┼────────┼───────────────────┼────────┼────────────┼───────────────┤
│ 1   │ 39     │  State-gov        │ 77516  │  Bachelors │ 13            │
│ 2   │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors │ 13            │
│ 3   │ 38     │  Private          │ 215646 │  HS-grad   │ 9             │
│ 4   │ 53     │  Private          │ 234721 │  11th      │ 7             │
│ 5   │ 28     │  Private          │ 338409 │  Bachelors │ 13            │

In [8]:
last(df,5)   # last 5 rows of dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass     │ fnlwgt │ education   │ education-num │
│     │ Int64⍰ │ String⍰       │ Int64⍰ │ String⍰     │ Int64⍰        │
├─────┼────────┼───────────────┼────────┼─────────────┼───────────────┤
│ 1   │ 27     │  Private      │ 257302 │  Assoc-acdm │ 12            │
│ 2   │ 40     │  Private      │ 154374 │  HS-grad    │ 9             │
│ 3   │ 58     │  Private      │ 151910 │  HS-grad    │ 9             │
│ 4   │ 22     │  Private      │ 201490 │  HS-grad    │ 9             │
│ 5   │ 52     │  Self-emp-inc │ 287927 │  HS-grad    │ 9             │

In [9]:
names(df)  # names of all columns

15-element Array{Symbol,1}:
 :age
 :workclass
 :fnlwgt
 :education
 Symbol("education-num")
 Symbol("marital-status")
 :occupation
 :relationship
 :race
 :sex
 Symbol("capital-gain")
 Symbol("capital-loss")
 Symbol("hours-per-week")
 Symbol("native-country: ")
 :class

In [10]:
eltypes(df)  # elemet types of all columns

15-element Array{Union,1}:
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, Int64}
 Union{Missing, Int64}
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, String}

In [11]:
showcols(df)  # informaton about columns

┌ Warning: `showcols(df::AbstractDataFrame, all::Bool=false, values::Bool=true)` is deprecated, use `describe(df, stats=[:eltype, :nmissing, :first, :last])` instead.
│   caller = showcols(::DataFrame) at deprecated.jl:56
└ @ DataFrames .\deprecated.jl:56

15×5 DataFrame. Omitted printing of 1 columns
│ Row │ variable         │ eltype   │ nmissing │ first          │
│     │ Symbol           │ DataType │ Int64    │ Any            │
├─────┼──────────────────┼──────────┼──────────┼────────────────┤
│ 1   │ age              │ Int64    │ 0        │ 39             │
│ 2   │ workclass        │ String   │ 0        │  State-gov     │
│ 3   │ fnlwgt           │ Int64    │ 0        │ 77516          │
│ 4   │ education        │ String   │ 0        │  Bachelors     │
│ 5   │ education-num    │ Int64    │ 0        │ 13             │
│ 6   │ marital-status   │ String   │ 0        │  Never-married │
│ 7   │ occupation       │ String   │ 0        │  Adm-clerical  │
│ 8   │ relationship     │ String   │ 0        │  Not-in-family │
│ 9   │ race             │ String   │ 0        │  White         │
│ 10  │ sex              │ String   │ 0        │  Male          │
│ 11  │ capital-gain     │ Int64    │ 0        │ 2174           │
│ 12  │ capital-loss     │ Int64    │ 0        │ 0              │
│ 13  │ hours-per-week   │ Int64    │ 0        │ 40             │
│ 14  │ native-country:  │ String   │ 0        │  United-States │
│ 15  │ class            │ String   │ 0        │  <=50K         │

In [12]:
describe(df)  # basic summary statistics

15×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable         │ mean      │ min                 │ median   │
│     │ Symbol           │ Union…    │ Any                 │ Union…   │
├─────┼──────────────────┼───────────┼─────────────────────┼──────────┤
│ 1   │ age              │ 38.5816   │ 17                  │ 37.0     │
│ 2   │ workclass        │           │  ?                  │          │
│ 3   │ fnlwgt           │ 1.89778e5 │ 12285               │ 178356.0 │
│ 4   │ education        │           │  10th               │          │
│ 5   │ education-num    │ 10.0807   │ 1                   │ 10.0     │
│ 6   │ marital-status   │           │  Divorced           │          │
│ 7   │ occupation       │           │  ?                  │          │
│ 8   │ relationship     │           │  Husband            │          │
│ 9   │ race             │           │  Amer-Indian-Eskimo │          │
│ 10  │ sex              │           │  Female             │          │
│ 11  │ capital-gain     │ 1077.65   │ 0                   │ 0.0      │
│ 12  │ capital-loss     │ 87.3038   │ 0                   │ 0.0      │
│ 13  │ hours-per-week   │ 40.4375   │ 1                   │ 40.0     │
│ 14  │ native-country:  │           │  ?                  │          │
│ 15  │ class            │           │  <=50K              │          │

Extracting rows, columns, or some elements from DataFrame

In [13]:
df[:age];     # grab one column as a Vector,  df[1], df[:, 1] give same array

In [14]:
df[[:age]];     # grab one column as a DataFrame,  df[[1]], df[:, [1]] give same DataFrame

In [15]:
df[[:age,:workclass]];    # grab multiple columns as a DataFrame,  df[[1,2]], df[:, [1,2]] give same DataFrame

In [16]:
df[1:5];    # grab multiple columns as a DataFrame from 1st to 5th column

In [17]:
df[[true, false, true, false, true, false, false,true, 
        false, true, false, true, false, false, false ]];    # grab colums using Boolean

In [18]:
df[1, :];     # grab one row as a DataFrame

In [19]:
df[1:5, :];     # grab multiple rows as a DataFrame from 1st to 5th row, df[[1,3,7,9], :] grab some rows

In [20]:
df[1, 1]    # grab one element

39

In [21]:
df[1:5, 3:10]  # grap certain part

5×8 DataFrame. Omitted printing of 4 columns
│ Row │ fnlwgt │ education  │ education-num │ marital-status      │
│     │ Int64⍰ │ String⍰    │ Int64⍰        │ String⍰             │
├─────┼────────┼────────────┼───────────────┼─────────────────────┤
│ 1   │ 77516  │  Bachelors │ 13            │  Never-married      │
│ 2   │ 83311  │  Bachelors │ 13            │  Married-civ-spouse │
│ 3   │ 215646 │  HS-grad   │ 9             │  Divorced           │
│ 4   │ 234721 │  11th      │ 7             │  Married-civ-spouse │
│ 5   │ 338409 │  Bachelors │ 13            │  Married-civ-spouse │

Rename column names

In [22]:
rename!(df, :sex => :Gender);   # renames column sex as Gender

In [23]:
rename!(df,                                     # renames multiple columns
    Symbol("capital-gain") => :CapitalGain, 
    Symbol("native-country: ") => :NativeCountry);

In [24]:
new_col_nms = Dict(                              # rename colums using Dictionary
    Symbol("marital-status") => :MaritalStatus,
    Symbol("education-num") => :EducationNum,
    Symbol("capital-loss") => :CapitalLoss,
    Symbol("hours-per-week") => :HoursperWeek,
    );
rename!(df, new_col_nms);

In [25]:
names(df)

15-element Array{Symbol,1}:
 :age
 :workclass
 :fnlwgt
 :education
 :EducationNum
 :MaritalStatus
 :occupation
 :relationship
 :race
 :Gender
 :CapitalGain
 :CapitalLoss
 :HoursperWeek
 :NativeCountry
 :class

In [26]:
:age in names(df)  # find column name in df

true

In [27]:
names(df)

15-element Array{Symbol,1}:
 :age
 :workclass
 :fnlwgt
 :education
 :EducationNum
 :MaritalStatus
 :occupation
 :relationship
 :race
 :Gender
 :CapitalGain
 :CapitalLoss
 :HoursperWeek
 :NativeCountry
 :class

Create Dataframe

In [28]:
DataFrame()   # creates empty DataFrame

0×0 DataFrame

In [29]:
DataFrame(          #creates empty DataFrame with specified column names and types
    Id=Int32[],
    Name=String[], 
    BirtDate=Float64[], 
    Height=Float64[])

0×4 DataFrame

In [30]:
using Random
DataFrame(A=1:3, B=rand(3), C=randstring.([3,3,3]))   # with column names and coumns as arrays
# DataFrame([1:3, rand(3), randstring.([3,3,3])], [:A, :B, :C]) gives the same dataframe

3×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64  │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 0.637243 │ h5e    │
│ 2   │ 2     │ 0.411649 │ aDG    │
│ 3   │ 3     │ 0.221061 │ Irr    │

In [31]:
DataFrame([Int, Float64, String], [:A, :B, :C], 0) # DataFrame with type and column names, but no rows

0×3 DataFrame

In [32]:
x = [rand(3) for i in 1:3];
DataFrame(x)         # DataFrame from array, matrix

3×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.639685 │ 0.365289 │ 0.920752 │
│ 2   │ 0.34857  │ 0.764721 │ 0.132367 │
│ 3   │ 0.110229 │ 0.769001 │ 0.339456 │

In [33]:
DataFrame(Int, 3, 5) #with type of all int and size of 3x5

3×5 DataFrame
│ Row │ x1          │ x2    │ x3        │ x4          │ x5        │
│     │ Int64       │ Int64 │ Int64     │ Int64       │ Int64     │
├─────┼─────────────┼───────┼───────────┼─────────────┼───────────┤
│ 1   │ 21671189904 │ 0     │ 117031632 │ 21671189904 │ 137752144 │
│ 2   │ 21673290304 │ 1     │ 116341632 │ 21673290304 │ 137752176 │
│ 3   │ 123601136   │ 0     │ 116350808 │ 123601136   │ 123601136 │

In [34]:
x = Dict("A" => [1,2], "B" => [true, false], "C" => ['a', 'b'])
DataFrame(x)         # DataFrame from dictionary

2×3 DataFrame
│ Row │ A     │ B     │ C    │
│     │ Int64 │ Bool  │ Char │
├─────┼───────┼───────┼──────┤
│ 1   │ 1     │ true  │ 'a'  │
│ 2   │ 2     │ false │ 'b'  │

In [35]:
DataFrame(col1 = df[:education], col2 = df[:occupation]);   # DataFrame from another dataframe

Modify DataFrame

In [36]:
df_new = df[1:100, 1:5];
empty!(df_new)   # remove everything from a DataFrame

0×0 DataFrame

In [37]:
df_new = df[1:100, 1:5];
deletecols!(df_new, 3);       # delete 3rd column
deletecols!(df_new, :age);   # delete column named age

In [38]:
df_new[:Id] = 1:100 # append new column

1:100

Sorting, Reordering Rows

In [39]:
issorted(df)     # is sorted by first column?

false

In [40]:
issorted(df, :workclass)  # is sorted by column age?

false

In [41]:
sort(df);    # sort by first column, to change df use sort!(df)

In [42]:
sort(df,:workclass);  # sort by column workclass

In [43]:
sort(df, (:age, :fnlwgt), rev=(true, false)); # sort by age and then by :fnlwgt, age decreasing, fnlwgt increasing

In [44]:
sort(df, (order(:age, rev=true), :fnlwgt)); # the same as above

In [45]:
df[shuffle(1:10), :];  # n=num of rows, shuffles rows (using Random)

Concatenation/Merging DataFrames & Adding/Deleting Columns/Rows

In [46]:
df1 = DataFrame(Id=1:5, Code='a':'e', Grade=100:-10:60)

5×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │

In [47]:
df2 = DataFrame(Letter=['A','B','C','D','E'], Result=[true,false,true,true,false])

5×2 DataFrame
│ Row │ Letter │ Result │
│     │ Char   │ Bool   │
├─────┼────────┼────────┤
│ 1   │ 'A'    │ true   │
│ 2   │ 'B'    │ false  │
│ 3   │ 'C'    │ true   │
│ 4   │ 'D'    │ true   │
│ 5   │ 'E'    │ false  │

In [48]:
hcat(df1, df2)   # horizontal concatenation, or [df1 df2]

5×5 DataFrame
│ Row │ Id    │ Code │ Grade │ Letter │ Result │
│     │ Int64 │ Char │ Int64 │ Char   │ Bool   │
├─────┼───────┼──────┼───────┼────────┼────────┤
│ 1   │ 1     │ 'a'  │ 100   │ 'A'    │ true   │
│ 2   │ 2     │ 'b'  │ 90    │ 'B'    │ false  │
│ 3   │ 3     │ 'c'  │ 80    │ 'C'    │ true   │
│ 4   │ 4     │ 'd'  │ 70    │ 'D'    │ true   │
│ 5   │ 5     │ 'e'  │ 60    │ 'E'    │ false  │

In [49]:
df3 = DataFrame(Letter=['A','B','C','D','E'], Result=[true,false,true,true,false]);

In [50]:
hcat(df1, df2, df3)   # error, same column names result error

ArgumentError: ArgumentError: Duplicate variable names: :Letter and :Result. Pass makeunique=true to make them unique using a suffix automatically.

In [51]:
hcat(df1, df2, df3, makeunique=true)

5×7 DataFrame
│ Row │ Id    │ Code │ Grade │ Letter │ Result │ Letter_1 │ Result_1 │
│     │ Int64 │ Char │ Int64 │ Char   │ Bool   │ Char     │ Bool     │
├─────┼───────┼──────┼───────┼────────┼────────┼──────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 100   │ 'A'    │ true   │ 'A'      │ true     │
│ 2   │ 2     │ 'b'  │ 90    │ 'B'    │ false  │ 'B'      │ false    │
│ 3   │ 3     │ 'c'  │ 80    │ 'C'    │ true   │ 'C'      │ true     │
│ 4   │ 4     │ 'd'  │ 70    │ 'D'    │ true   │ 'D'      │ true     │
│ 5   │ 5     │ 'e'  │ 60    │ 'E'    │ false  │ 'E'      │ false    │

In [52]:
[ $df1[1:2] $df2[1:2] $df1[3] ] # insert df2 into df1

ErrorException: syntax: "$" expression outside quote

In [53]:
insertcols!(df2, 2, newcol=[10,20,30,40,50], makeunique=true)  # insert array in second column in df2
#insertcols!(df2, 2, :newcol=>[1,2,3], makeunique=true)        # same

5×3 DataFrame
│ Row │ Letter │ newcol │ Result │
│     │ Char   │ Int64  │ Bool   │
├─────┼────────┼────────┼────────┤
│ 1   │ 'A'    │ 10     │ true   │
│ 2   │ 'B'    │ 20     │ false  │
│ 3   │ 'C'    │ 30     │ true   │
│ 4   │ 'D'    │ 40     │ true   │
│ 5   │ 'E'    │ 50     │ false  │

In [54]:
insertcols!(df2, ncol(df2)+1, :A => rand(5) )   # append column

5×4 DataFrame
│ Row │ Letter │ newcol │ Result │ A         │
│     │ Char   │ Int64  │ Bool   │ Float64   │
├─────┼────────┼────────┼────────┼───────────┤
│ 1   │ 'A'    │ 10     │ true   │ 0.120765  │
│ 2   │ 'B'    │ 20     │ false  │ 0.67233   │
│ 3   │ 'C'    │ 30     │ true   │ 0.0453503 │
│ 4   │ 'D'    │ 40     │ true   │ 0.335699  │
│ 5   │ 'E'    │ 50     │ false  │ 0.15966   │

In [55]:
df4 = DataFrame(Id=6:10, Code='f':'j', Grade=50:-10:10)

5×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 6     │ 'f'  │ 50    │
│ 2   │ 7     │ 'g'  │ 40    │
│ 3   │ 8     │ 'h'  │ 30    │
│ 4   │ 9     │ 'i'  │ 20    │
│ 5   │ 10    │ 'j'  │ 10    │

In [56]:
vcat(df1, df4) # vertical concatenation, column names can be in different order

10×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │

In [57]:
[df1; df4] # # vertical concatenation, column names must be in same order

10×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │

In [58]:
append!(df1, df4)   # appends df4 to df1

10×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │

In [59]:
push!(df1, [11,'k',0])   # append matching array

11×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │
│ 11  │ 11    │ 'k'  │ 0     │

In [60]:
x = Dict(:Id=> 12, :Grade=> 60, :Code=> 'm'); # append matching(keys) dictionary
push!(df1, x)

12×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │
│ 11  │ 11    │ 'k'  │ 0     │
│ 12  │ 12    │ 'm'  │ 60    │

In [61]:
deleterows!(df1, 11)    # delete one row, 11th row

11×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │
│ 11  │ 12    │ 'm'  │ 60    │

In [62]:
deleterows!(df1, 9:11)   #delete a collection of rows

8×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │

Filtering, Grouping

In [63]:
df[ df[:age] .>= 60, :];  # fiter df wrt age, where age >= 60, display all columns

In [64]:
df[ (df[:age] .>= 60) .& (df[:EducationNum] .>= 10) , :]; # filter by multiple conditions

In [65]:
df[ (df[:age] .>= 60) .& (strip.(df[:Gender]) .== "Male") , :];  # string columns have space for each, strip removes it

In [66]:
filter(r -> r[:age] >= 60, df);  # filtering func. on DataFrameRow, same with above

In [67]:
grouped_df = groupby(df, :education);  # groups dataframe by workclass and returns sub dataframes

In [68]:
length(grouped_df)

16

In [69]:
first(grouped_df[1], 5)  # 1st group is education=Bachelor, see first 5 elements from this dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education  │ EducationNum │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰    │ Int64⍰       │
├─────┼────────┼───────────────────┼────────┼────────────┼──────────────┤
│ 1   │ 39     │  State-gov        │ 77516  │  Bachelors │ 13           │
│ 2   │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors │ 13           │
│ 3   │ 28     │  Private          │ 338409 │  Bachelors │ 13           │
│ 4   │ 42     │  Private          │ 159449 │  Bachelors │ 13           │
│ 5   │ 30     │  State-gov        │ 141297 │  Bachelors │ 13           │

In [70]:
first(grouped_df[16],5) # last group is education=12th, see first 5 elements from this dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education │ EducationNum │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰   │ Int64⍰       │
├─────┼────────┼───────────────────┼────────┼───────────┼──────────────┤
│ 1   │ 35     │  Private          │ 92440  │  12th     │ 8            │
│ 2   │ 52     │  ?                │ 271749 │  12th     │ 8            │
│ 3   │ 39     │  Local-gov        │ 207853 │  12th     │ 8            │
│ 4   │ 18     │  ?                │ 165532 │  12th     │ 8            │
│ 5   │ 44     │  Self-emp-not-inc │ 335183 │  12th     │ 8            │

In [71]:
by(df,:workclass, size)   # group df by column named ‘workclass’, and apply function (here counts each group)

9×2 DataFrame
│ Row │ workclass         │ x1          │
│     │ String⍰           │ Tuple…      │
├─────┼───────────────────┼─────────────┤
│ 1   │  State-gov        │ (1298, 15)  │
│ 2   │  Self-emp-not-inc │ (2541, 15)  │
│ 3   │  Private          │ (22696, 15) │
│ 4   │  Federal-gov      │ (960, 15)   │
│ 5   │  Local-gov        │ (2093, 15)  │
│ 6   │  ?                │ (1836, 15)  │
│ 7   │  Self-emp-inc     │ (1116, 15)  │
│ 8   │  Without-pay      │ (14, 15)    │
│ 9   │  Never-worked     │ (7, 15)     │

In [72]:
using Statistics
by(df,:workclass, df->mean(df[:fnlwgt]))     # calculate mean fnlwgt of each workclass

9×2 DataFrame
│ Row │ workclass         │ x1        │
│     │ String⍰           │ Float64   │
├─────┼───────────────────┼───────────┤
│ 1   │  State-gov        │ 1.84137e5 │
│ 2   │  Self-emp-not-inc │ 1.75609e5 │
│ 3   │  Private          │ 1.92764e5 │
│ 4   │  Federal-gov      │ 1.85221e5 │
│ 5   │  Local-gov        │ 1.8864e5  │
│ 6   │  ?                │ 1.88516e5 │
│ 7   │  Self-emp-inc     │ 1.75981e5 │
│ 8   │  Without-pay      │ 1.74268e5 │
│ 9   │  Never-worked     │ 2.2599e5  │