Joining DataFrames

In [3]:
using DataFrames
using CSV 
dfLeft = CSV.read("dfLeft.csv"; header=true);
dfRight = CSV.read("dfRight.csv"; header=true);

In [4]:
dfLeft

10×5 DataFrame
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┤
│ 1   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │
│ 2   │ 2      │ Mike    │ Teacher    │ Belgium   │ mike@g.com    │
│ 3   │ 3      │ Maggy   │ Nurse      │ France    │ maggy@y.com   │
│ 4   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com  │
│ 5   │ 5      │ Ali     │ Advocate   │ Turkey    │ ali@y.com     │
│ 6   │ 6      │ Robert  │ Pilot      │ USA       │ robert@g.com  │
│ 7   │ 7      │ Susanna │ Teacher    │ Germany   │ s@y.com       │
│ 8   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com   │
│ 9   │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │
│ 10  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │

In [5]:
dfRight

10×3 DataFrame
│ Row │ Id     │ BussEmail     │ City       │
│     │ Int64⍰ │ String⍰       │ String⍰    │
├─────┼────────┼───────────────┼────────────┤
│ 1   │ 4      │ george@y.com  │ Berlin     │
│ 2   │ 5      │ ali@g.com     │ Istanbul   │
│ 3   │ 7      │ susanna@y.com │ Hamburg    │
│ 4   │ 8      │ laila@y.com   │ Brussel    │
│ 5   │ 9      │ harry@g.com   │ London     │
│ 6   │ 10     │ mark@y.com    │ Dusseldorf │
│ 7   │ 13     │ jim@y.com     │ Paris      │
│ 8   │ 14     │ garry@y.com   │ LosAngeles │
│ 9   │ 15     │ jack@g.com    │ Prag       │
│ 10  │ 16     │ pam@g.com     │ London     │

In [6]:
# names of columns on which we want to join must be the same(case sensitive)

join(dfLeft, dfRight, on=:Id)    # inner join by default, matching Id and missing are joined

6×7 DataFrame. Omitted printing of 2 columns
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┤
│ 1   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com  │
│ 2   │ 5      │ Ali     │ Advocate   │ Turkey    │ ali@y.com     │
│ 3   │ 7      │ Susanna │ Teacher    │ Germany   │ s@y.com       │
│ 4   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com   │
│ 5   │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │
│ 6   │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │

In [7]:
join(dfLeft, dfRight, on=:Id, kind=:left) # left join, showing all entries from left DataFrame

10×7 DataFrame. Omitted printing of 2 columns
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┤
│ 1   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │
│ 2   │ 2      │ Mike    │ Teacher    │ Belgium   │ mike@g.com    │
│ 3   │ 3      │ Maggy   │ Nurse      │ France    │ maggy@y.com   │
│ 4   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com  │
│ 5   │ 5      │ Ali     │ Advocate   │ Turkey    │ ali@y.com     │
│ 6   │ 6      │ Robert  │ Pilot      │ USA       │ robert@g.com  │
│ 7   │ 7      │ Susanna │ Teacher    │ Germany   │ s@y.com       │
│ 8   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com   │
│ 9   │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │
│ 10  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │

In [8]:
join(dfLeft, dfRight, on=:Id, kind=:right) # right join, showing all entries from right DataFrame

10×7 DataFrame. Omitted printing of 2 columns
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┤
│ 1   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com  │
│ 2   │ 5      │ Ali     │ Advocate   │ Turkey    │ ali@y.com     │
│ 3   │ 7      │ Susanna │ Teacher    │ Germany   │ s@y.com       │
│ 4   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com   │
│ 5   │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │
│ 6   │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │
│ 7   │ 13     │ missing │ missing    │ missing   │ missing       │
│ 8   │ 14     │ missing │ missing    │ missing   │ missing       │
│ 9   │ 15     │ missing │ missing    │ missing   │ missing       │
│ 10  │ 16     │ missing │ missing    │ missing   │ missing       │

In [9]:
join(dfLeft, dfRight, on=:Id, kind=:outer) # outer join, showing all entries from left and right DataFrame

14×7 DataFrame. Omitted printing of 2 columns
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┤
│ 1   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │
│ 2   │ 2      │ Mike    │ Teacher    │ Belgium   │ mike@g.com    │
│ 3   │ 3      │ Maggy   │ Nurse      │ France    │ maggy@y.com   │
│ 4   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com  │
│ 5   │ 5      │ Ali     │ Advocate   │ Turkey    │ ali@y.com     │
│ 6   │ 6      │ Robert  │ Pilot      │ USA       │ robert@g.com  │
│ 7   │ 7      │ Susanna │ Teacher    │ Germany   │ s@y.com       │
│ 8   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com   │
│ 9   │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │
│ 10  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │
│ 11  │ 13     │ missing │ missing    │ missing   │ missing       │
│ 12  │ 14     │ missing │ missing    │ missing   │ missing       │
│ 13  │ 15     │ missing │ missing    │ missing   │ missing       │
│ 14  │ 16     │ missing │ missing    │ missing   │ missing       │

In [10]:
join(dfLeft, dfRight, on=:Id, kind=:semi) # semi join, rows from left dataframe having matches in right dataframe

6×5 DataFrame
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┤
│ 1   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com  │
│ 2   │ 5      │ Ali     │ Advocate   │ Turkey    │ ali@y.com     │
│ 3   │ 7      │ Susanna │ Teacher    │ Germany   │ s@y.com       │
│ 4   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com   │
│ 5   │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │
│ 6   │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │

In [11]:
join(dfLeft, dfRight, on=:Id, kind=:anti) # anti join, rows from left dataframe having no matches in right dataframe

4×5 DataFrame
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail     │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰      │
├─────┼────────┼─────────┼────────────┼───────────┼──────────────┤
│ 1   │ 1      │ John    │ Engineer   │ USA       │ john@y.com   │
│ 2   │ 2      │ Mike    │ Teacher    │ Belgium   │ mike@g.com   │
│ 3   │ 3      │ Maggy   │ Nurse      │ France    │ maggy@y.com  │
│ 4   │ 6      │ Robert  │ Pilot      │ USA       │ robert@g.com │

In [12]:
join(dfLeft, dfRight, kind=:cross, makeunique=true)  # cross join, all possible combinations

100×8 DataFrame. Omitted printing of 2 columns
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ PerEmail      │ Id_1   │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰       │ Int64⍰ │
├─────┼────────┼─────────┼────────────┼───────────┼───────────────┼────────┤
│ 1   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 4      │
│ 2   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 5      │
│ 3   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 7      │
│ 4   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 8      │
│ 5   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 9      │
│ 6   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 10     │
│ 7   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 13     │
│ 8   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 14     │
│ 9   │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 15     │
│ 10  │ 1      │ John    │ Engineer   │ USA       │ john@y.com    │ 16     │
⋮
│ 90  │ 9      │ Harry   │ Scientist  │ England   │ harry80@g.com │ 16     │
│ 91  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 4      │
│ 92  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 5      │
│ 93  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 7      │
│ 94  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 8      │
│ 95  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 9      │
│ 96  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 10     │
│ 97  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 13     │
│ 98  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 14     │
│ 99  │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 15     │
│ 100 │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com    │ 16     │

In [13]:
rename!(dfLeft,:PerEmail => :email);
rename!(dfRight,:BussEmail => :email);
join(dfLeft, dfRight, on=[:Id, :email])     # joining on two columns

3×6 DataFrame
│ Row │ Id     │ Name    │ Occupation │ BirtPlace │ email        │ City       │
│     │ Int64⍰ │ String⍰ │ String⍰    │ String⍰   │ String⍰      │ String⍰    │
├─────┼────────┼─────────┼────────────┼───────────┼──────────────┼────────────┤
│ 1   │ 4      │ George  │ Doctor     │ Germany   │ george@y.com │ Berlin     │
│ 2   │ 8      │ Laila   │ Doctor     │ Morocco   │ laila@y.com  │ Brussel    │
│ 3   │ 10     │ Mark    │ Doctor     │ Germany   │ mark@y.com   │ Dusseldorf │

Melt / Stack

In [18]:
melt(dfLeft, :Id, [:Name, :email], variable_name=:Key, value_name=:Observed)     
# stack(dfLeft, [:Name, :email], :Id, variable_name=:Key, value_name=:Observed)  is exactly same

20×3 DataFrame
│ Row │ Key    │ Observed      │ Id     │
│     │ Symbol │ String⍰       │ Int64⍰ │
├─────┼────────┼───────────────┼────────┤
│ 1   │ Name   │ John          │ 1      │
│ 2   │ Name   │ Mike          │ 2      │
│ 3   │ Name   │ Maggy         │ 3      │
│ 4   │ Name   │ George        │ 4      │
│ 5   │ Name   │ Ali           │ 5      │
│ 6   │ Name   │ Robert        │ 6      │
│ 7   │ Name   │ Susanna       │ 7      │
│ 8   │ Name   │ Laila         │ 8      │
│ 9   │ Name   │ Harry         │ 9      │
│ 10  │ Name   │ Mark          │ 10     │
│ 11  │ email  │ john@y.com    │ 1      │
│ 12  │ email  │ mike@g.com    │ 2      │
│ 13  │ email  │ maggy@y.com   │ 3      │
│ 14  │ email  │ george@y.com  │ 4      │
│ 15  │ email  │ ali@y.com     │ 5      │
│ 16  │ email  │ robert@g.com  │ 6      │
│ 17  │ email  │ s@y.com       │ 7      │
│ 18  │ email  │ laila@y.com   │ 8      │
│ 19  │ email  │ harry80@g.com │ 9      │
│ 20  │ email  │ mark@y.com    │ 10     │

In [16]:
melt(dfLeft, [:Id,:Occupation], [:Name, :email])

20×4 DataFrame
│ Row │ variable │ value         │ Id     │ Occupation │
│     │ Symbol   │ String⍰       │ Int64⍰ │ String⍰    │
├─────┼──────────┼───────────────┼────────┼────────────┤
│ 1   │ Name     │ John          │ 1      │ Engineer   │
│ 2   │ Name     │ Mike          │ 2      │ Teacher    │
│ 3   │ Name     │ Maggy         │ 3      │ Nurse      │
│ 4   │ Name     │ George        │ 4      │ Doctor     │
│ 5   │ Name     │ Ali           │ 5      │ Advocate   │
│ 6   │ Name     │ Robert        │ 6      │ Pilot      │
│ 7   │ Name     │ Susanna       │ 7      │ Teacher    │
│ 8   │ Name     │ Laila         │ 8      │ Doctor     │
│ 9   │ Name     │ Harry         │ 9      │ Scientist  │
│ 10  │ Name     │ Mark          │ 10     │ Doctor     │
│ 11  │ email    │ john@y.com    │ 1      │ Engineer   │
│ 12  │ email    │ mike@g.com    │ 2      │ Teacher    │
│ 13  │ email    │ maggy@y.com   │ 3      │ Nurse      │
│ 14  │ email    │ george@y.com  │ 4      │ Doctor     │
│ 15  │ email    │ ali@y.com     │ 5      │ Advocate   │
│ 16  │ email    │ robert@g.com  │ 6      │ Pilot      │
│ 17  │ email    │ s@y.com       │ 7      │ Teacher    │
│ 18  │ email    │ laila@y.com   │ 8      │ Doctor     │
│ 19  │ email    │ harry80@g.com │ 9      │ Scientist  │
│ 20  │ email    │ mark@y.com    │ 10     │ Doctor     │

In [20]:
melt(dfLeft, [:Name, :email]) #all remaining columns are assumed to be variable

30×4 DataFrame
│ Row │ variable   │ value   │ Name    │ email         │
│     │ Symbol     │ Any     │ String⍰ │ String⍰       │
├─────┼────────────┼─────────┼─────────┼───────────────┤
│ 1   │ Id         │ 1       │ John    │ john@y.com    │
│ 2   │ Id         │ 2       │ Mike    │ mike@g.com    │
│ 3   │ Id         │ 3       │ Maggy   │ maggy@y.com   │
│ 4   │ Id         │ 4       │ George  │ george@y.com  │
│ 5   │ Id         │ 5       │ Ali     │ ali@y.com     │
│ 6   │ Id         │ 6       │ Robert  │ robert@g.com  │
│ 7   │ Id         │ 7       │ Susanna │ s@y.com       │
│ 8   │ Id         │ 8       │ Laila   │ laila@y.com   │
│ 9   │ Id         │ 9       │ Harry   │ harry80@g.com │
│ 10  │ Id         │ 10      │ Mark    │ mark@y.com    │
⋮
│ 20  │ Occupation │ Doctor  │ Mark    │ mark@y.com    │
│ 21  │ BirtPlace  │ USA     │ John    │ john@y.com    │
│ 22  │ BirtPlace  │ Belgium │ Mike    │ mike@g.com    │
│ 23  │ BirtPlace  │ France  │ Maggy   │ maggy@y.com   │
│ 24  │ BirtPlace  │ Germany │ George  │ george@y.com  │
│ 25  │ BirtPlace  │ Turkey  │ Ali     │ ali@y.com     │
│ 26  │ BirtPlace  │ USA     │ Robert  │ robert@g.com  │
│ 27  │ BirtPlace  │ Germany │ Susanna │ s@y.com       │
│ 28  │ BirtPlace  │ Morocco │ Laila   │ laila@y.com   │
│ 29  │ BirtPlace  │ England │ Harry   │ harry80@g.com │
│ 30  │ BirtPlace  │ Germany │ Mark    │ mark@y.com    │

In [23]:
# melfdf & stackdf creates view, creating views are faster
meltdf(dfLeft, :Id, [:Name, :email], variable_name=:Key, value_name=:Observed)

20×3 DataFrame
│ Row │ Key    │ Observed      │ Id     │
│     │ Symbol │ String⍰       │ Int64⍰ │
├─────┼────────┼───────────────┼────────┤
│ 1   │ Name   │ John          │ 1      │
│ 2   │ Name   │ Mike          │ 2      │
│ 3   │ Name   │ Maggy         │ 3      │
│ 4   │ Name   │ George        │ 4      │
│ 5   │ Name   │ Ali           │ 5      │
│ 6   │ Name   │ Robert        │ 6      │
│ 7   │ Name   │ Susanna       │ 7      │
│ 8   │ Name   │ Laila         │ 8      │
│ 9   │ Name   │ Harry         │ 9      │
│ 10  │ Name   │ Mark          │ 10     │
│ 11  │ email  │ john@y.com    │ 1      │
│ 12  │ email  │ mike@g.com    │ 2      │
│ 13  │ email  │ maggy@y.com   │ 3      │
│ 14  │ email  │ george@y.com  │ 4      │
│ 15  │ email  │ ali@y.com     │ 5      │
│ 16  │ email  │ robert@g.com  │ 6      │
│ 17  │ email  │ s@y.com       │ 7      │
│ 18  │ email  │ laila@y.com   │ 8      │
│ 19  │ email  │ harry80@g.com │ 9      │
│ 20  │ email  │ mark@y.com    │ 10     │