DataFrame Basics 1

To download a file on your local machine:

In [1]:
using DataFrames
#download("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", "adult.csv")

Create DataFrame from existing file:

In [2]:
using CSV 
df = CSV.read("adult.csv"; header=true); # read csv file as DataFramw
# CSV.write("newfile.csv", df)  # write your df as CSV file

32561×15 DataFrame. Omitted printing of 10 columns
│ Row   │ age    │ workclass         │ fnlwgt │ education     │ education-num │
│       │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰        │
├───────┼────────┼───────────────────┼────────┼───────────────┼───────────────┤
│ 1     │ 39     │  State-gov        │ 77516  │  Bachelors    │ 13            │
│ 2     │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors    │ 13            │
│ 3     │ 38     │  Private          │ 215646 │  HS-grad      │ 9             │
│ 4     │ 53     │  Private          │ 234721 │  11th         │ 7             │
│ 5     │ 28     │  Private          │ 338409 │  Bachelors    │ 13            │
│ 6     │ 37     │  Private          │ 284582 │  Masters      │ 14            │
│ 7     │ 49     │  Private          │ 160187 │  9th          │ 5             │
│ 8     │ 52     │  Self-emp-not-inc │ 209642 │  HS-grad      │ 9             │
│ 9     │ 31     │  Private          │ 45781  │  Masters      │ 14            │
│ 10    │ 42     │  Private          │ 159449 │  Bachelors    │ 13            │
⋮
│ 32551 │ 43     │  Self-emp-not-inc │ 27242  │  Some-college │ 10            │
│ 32552 │ 32     │  Private          │ 34066  │  10th         │ 6             │
│ 32553 │ 43     │  Private          │ 84661  │  Assoc-voc    │ 11            │
│ 32554 │ 32     │  Private          │ 116138 │  Masters      │ 14            │
│ 32555 │ 53     │  Private          │ 321865 │  Masters      │ 14            │
│ 32556 │ 22     │  Private          │ 310152 │  Some-college │ 10            │
│ 32557 │ 27     │  Private          │ 257302 │  Assoc-acdm   │ 12            │
│ 32558 │ 40     │  Private          │ 154374 │  HS-grad      │ 9             │
│ 32559 │ 58     │  Private          │ 151910 │  HS-grad      │ 9             │
│ 32560 │ 22     │  Private          │ 201490 │  HS-grad      │ 9             │
│ 32561 │ 52     │  Self-emp-inc     │ 287927 │  HS-grad      │ 9             │

Basic Information about DataFrame

In [3]:
typeof(df)

DataFrame

In [4]:
size(df)

(32561, 15)

In [5]:
size(df, 1), nrow(df)   # both gives number of rows

(32561, 32561)

In [6]:
size(df, 2), ncol(df) # both gives number of columns

(15, 15)

In [7]:
first(df,5)   # first 5 rows of dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education  │ education-num │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰    │ Int64⍰        │
├─────┼────────┼───────────────────┼────────┼────────────┼───────────────┤
│ 1   │ 39     │  State-gov        │ 77516  │  Bachelors │ 13            │
│ 2   │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors │ 13            │
│ 3   │ 38     │  Private          │ 215646 │  HS-grad   │ 9             │
│ 4   │ 53     │  Private          │ 234721 │  11th      │ 7             │
│ 5   │ 28     │  Private          │ 338409 │  Bachelors │ 13            │

In [8]:
last(df,5)   # last 5 rows of dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass     │ fnlwgt │ education   │ education-num │
│     │ Int64⍰ │ String⍰       │ Int64⍰ │ String⍰     │ Int64⍰        │
├─────┼────────┼───────────────┼────────┼─────────────┼───────────────┤
│ 1   │ 27     │  Private      │ 257302 │  Assoc-acdm │ 12            │
│ 2   │ 40     │  Private      │ 154374 │  HS-grad    │ 9             │
│ 3   │ 58     │  Private      │ 151910 │  HS-grad    │ 9             │
│ 4   │ 22     │  Private      │ 201490 │  HS-grad    │ 9             │
│ 5   │ 52     │  Self-emp-inc │ 287927 │  HS-grad    │ 9             │

In [9]:
names(df)  # names of all columns

15-element Array{Symbol,1}:
 :age
 :workclass
 :fnlwgt
 :education
 Symbol("education-num")
 Symbol("marital-status")
 :occupation
 :relationship
 :race
 :sex
 Symbol("capital-gain")
 Symbol("capital-loss")
 Symbol("hours-per-week")
 Symbol("native-country: ")
 :class

In [10]:
eltypes(df)  # elemet types of all columns

15-element Array{Union,1}:
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, String}
 Union{Missing, Int64}
 Union{Missing, Int64}
 Union{Missing, Int64}
 Union{Missing, String}
 Union{Missing, String}

In [11]:
showcols(df)  # informaton about columns

┌ Warning: `showcols(df::AbstractDataFrame, all::Bool=false, values::Bool=true)` is deprecated, use `describe(df, stats=[:eltype, :nmissing, :first, :last])` instead.
│   caller = showcols(::DataFrame) at deprecated.jl:56
└ @ DataFrames .\deprecated.jl:56

15×5 DataFrame. Omitted printing of 1 columns
│ Row │ variable         │ eltype   │ nmissing │ first          │
│     │ Symbol           │ DataType │ Int64    │ Any            │
├─────┼──────────────────┼──────────┼──────────┼────────────────┤
│ 1   │ age              │ Int64    │ 0        │ 39             │
│ 2   │ workclass        │ String   │ 0        │  State-gov     │
│ 3   │ fnlwgt           │ Int64    │ 0        │ 77516          │
│ 4   │ education        │ String   │ 0        │  Bachelors     │
│ 5   │ education-num    │ Int64    │ 0        │ 13             │
│ 6   │ marital-status   │ String   │ 0        │  Never-married │
│ 7   │ occupation       │ String   │ 0        │  Adm-clerical  │
│ 8   │ relationship     │ String   │ 0        │  Not-in-family │
│ 9   │ race             │ String   │ 0        │  White         │
│ 10  │ sex              │ String   │ 0        │  Male          │
│ 11  │ capital-gain     │ Int64    │ 0        │ 2174           │
│ 12  │ capital-loss     │ Int64    │ 0        │ 0              │
│ 13  │ hours-per-week   │ Int64    │ 0        │ 40             │
│ 14  │ native-country:  │ String   │ 0        │  United-States │
│ 15  │ class            │ String   │ 0        │  <=50K         │

In [12]:
describe(df)  # basic summary statistics

15×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable         │ mean      │ min                 │ median   │
│     │ Symbol           │ Union…    │ Any                 │ Union…   │
├─────┼──────────────────┼───────────┼─────────────────────┼──────────┤
│ 1   │ age              │ 38.5816   │ 17                  │ 37.0     │
│ 2   │ workclass        │           │  ?                  │          │
│ 3   │ fnlwgt           │ 1.89778e5 │ 12285               │ 178356.0 │
│ 4   │ education        │           │  10th               │          │
│ 5   │ education-num    │ 10.0807   │ 1                   │ 10.0     │
│ 6   │ marital-status   │           │  Divorced           │          │
│ 7   │ occupation       │           │  ?                  │          │
│ 8   │ relationship     │           │  Husband            │          │
│ 9   │ race             │           │  Amer-Indian-Eskimo │          │
│ 10  │ sex              │           │  Female             │          │
│ 11  │ capital-gain     │ 1077.65   │ 0                   │ 0.0      │
│ 12  │ capital-loss     │ 87.3038   │ 0                   │ 0.0      │
│ 13  │ hours-per-week   │ 40.4375   │ 1                   │ 40.0     │
│ 14  │ native-country:  │           │  ?                  │          │
│ 15  │ class            │           │  <=50K              │          │

Extracting rows, columns, or some elements from DataFrame

In [13]:
df[:age]     # grab one column as a Vector,  df[1], df[:, 1] give same array

32561-element Array{Union{Missing, Int64},1}:
 39
 50
 38
 53
 28
 37
 49
 52
 31
 42
 37
 30
 23
  ⋮
 43
 43
 32
 43
 32
 53
 22
 27
 40
 58
 22
 52

In [14]:
df[[:age]]     # grab one column as a DataFrame,  df[[1]], df[:, [1]] give same DataFrame

32561×1 DataFrame
│ Row   │ age    │
│       │ Int64⍰ │
├───────┼────────┤
│ 1     │ 39     │
│ 2     │ 50     │
│ 3     │ 38     │
│ 4     │ 53     │
│ 5     │ 28     │
│ 6     │ 37     │
│ 7     │ 49     │
│ 8     │ 52     │
│ 9     │ 31     │
│ 10    │ 42     │
⋮
│ 32551 │ 43     │
│ 32552 │ 32     │
│ 32553 │ 43     │
│ 32554 │ 32     │
│ 32555 │ 53     │
│ 32556 │ 22     │
│ 32557 │ 27     │
│ 32558 │ 40     │
│ 32559 │ 58     │
│ 32560 │ 22     │
│ 32561 │ 52     │

In [15]:
df[[:age,:workclass]]    # grab multiple columns as a DataFrame,  df[[1,2]], df[:, [1,2]] give same DataFrame

32561×2 DataFrame
│ Row   │ age    │ workclass         │
│       │ Int64⍰ │ String⍰           │
├───────┼────────┼───────────────────┤
│ 1     │ 39     │  State-gov        │
│ 2     │ 50     │  Self-emp-not-inc │
│ 3     │ 38     │  Private          │
│ 4     │ 53     │  Private          │
│ 5     │ 28     │  Private          │
│ 6     │ 37     │  Private          │
│ 7     │ 49     │  Private          │
│ 8     │ 52     │  Self-emp-not-inc │
│ 9     │ 31     │  Private          │
│ 10    │ 42     │  Private          │
⋮
│ 32551 │ 43     │  Self-emp-not-inc │
│ 32552 │ 32     │  Private          │
│ 32553 │ 43     │  Private          │
│ 32554 │ 32     │  Private          │
│ 32555 │ 53     │  Private          │
│ 32556 │ 22     │  Private          │
│ 32557 │ 27     │  Private          │
│ 32558 │ 40     │  Private          │
│ 32559 │ 58     │  Private          │
│ 32560 │ 22     │  Private          │
│ 32561 │ 52     │  Self-emp-inc     │

In [16]:
df[1:5]    # grab multiple columns as a DataFrame from 1st to 5th column

32561×5 DataFrame
│ Row   │ age    │ workclass         │ fnlwgt │ education     │ education-num │
│       │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰        │
├───────┼────────┼───────────────────┼────────┼───────────────┼───────────────┤
│ 1     │ 39     │  State-gov        │ 77516  │  Bachelors    │ 13            │
│ 2     │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors    │ 13            │
│ 3     │ 38     │  Private          │ 215646 │  HS-grad      │ 9             │
│ 4     │ 53     │  Private          │ 234721 │  11th         │ 7             │
│ 5     │ 28     │  Private          │ 338409 │  Bachelors    │ 13            │
│ 6     │ 37     │  Private          │ 284582 │  Masters      │ 14            │
│ 7     │ 49     │  Private          │ 160187 │  9th          │ 5             │
│ 8     │ 52     │  Self-emp-not-inc │ 209642 │  HS-grad      │ 9             │
│ 9     │ 31     │  Private          │ 45781  │  Masters      │ 14            │
│ 10    │ 42     │  Private          │ 159449 │  Bachelors    │ 13            │
⋮
│ 32551 │ 43     │  Self-emp-not-inc │ 27242  │  Some-college │ 10            │
│ 32552 │ 32     │  Private          │ 34066  │  10th         │ 6             │
│ 32553 │ 43     │  Private          │ 84661  │  Assoc-voc    │ 11            │
│ 32554 │ 32     │  Private          │ 116138 │  Masters      │ 14            │
│ 32555 │ 53     │  Private          │ 321865 │  Masters      │ 14            │
│ 32556 │ 22     │  Private          │ 310152 │  Some-college │ 10            │
│ 32557 │ 27     │  Private          │ 257302 │  Assoc-acdm   │ 12            │
│ 32558 │ 40     │  Private          │ 154374 │  HS-grad      │ 9             │
│ 32559 │ 58     │  Private          │ 151910 │  HS-grad      │ 9             │
│ 32560 │ 22     │  Private          │ 201490 │  HS-grad      │ 9             │
│ 32561 │ 52     │  Self-emp-inc     │ 287927 │  HS-grad      │ 9             │

In [17]:
df[[true, false, true, false, true, false, false,true, 
        false, true, false, true, false, false, false ]]    # grab colums using Boolean

32561×6 DataFrame. Omitted printing of 1 columns
│ Row   │ age    │ fnlwgt │ education-num │ relationship   │ sex     │
│       │ Int64⍰ │ Int64⍰ │ Int64⍰        │ String⍰        │ String⍰ │
├───────┼────────┼────────┼───────────────┼────────────────┼─────────┤
│ 1     │ 39     │ 77516  │ 13            │  Not-in-family │  Male   │
│ 2     │ 50     │ 83311  │ 13            │  Husband       │  Male   │
│ 3     │ 38     │ 215646 │ 9             │  Not-in-family │  Male   │
│ 4     │ 53     │ 234721 │ 7             │  Husband       │  Male   │
│ 5     │ 28     │ 338409 │ 13            │  Wife          │  Female │
│ 6     │ 37     │ 284582 │ 14            │  Wife          │  Female │
│ 7     │ 49     │ 160187 │ 5             │  Not-in-family │  Female │
│ 8     │ 52     │ 209642 │ 9             │  Husband       │  Male   │
│ 9     │ 31     │ 45781  │ 14            │  Not-in-family │  Female │
│ 10    │ 42     │ 159449 │ 13            │  Husband       │  Male   │
⋮
│ 32551 │ 43     │ 27242  │ 10            │  Husband       │  Male   │
│ 32552 │ 32     │ 34066  │ 6             │  Husband       │  Male   │
│ 32553 │ 43     │ 84661  │ 11            │  Husband       │  Male   │
│ 32554 │ 32     │ 116138 │ 14            │  Not-in-family │  Male   │
│ 32555 │ 53     │ 321865 │ 14            │  Husband       │  Male   │
│ 32556 │ 22     │ 310152 │ 10            │  Not-in-family │  Male   │
│ 32557 │ 27     │ 257302 │ 12            │  Wife          │  Female │
│ 32558 │ 40     │ 154374 │ 9             │  Husband       │  Male   │
│ 32559 │ 58     │ 151910 │ 9             │  Unmarried     │  Female │
│ 32560 │ 22     │ 201490 │ 9             │  Own-child     │  Male   │
│ 32561 │ 52     │ 287927 │ 9             │  Wife          │  Female │

In [18]:
df[1, :]     # grab one row as a DataFrame

DataFrameRow. Omitted printing of 10 columns
│ Row │ age    │ workclass  │ fnlwgt │ education  │ education-num │
│     │ Int64⍰ │ String⍰    │ Int64⍰ │ String⍰    │ Int64⍰        │
├─────┼────────┼────────────┼────────┼────────────┼───────────────┤
│ 1   │ 39     │  State-gov │ 77516  │  Bachelors │ 13            │

In [19]:
df[1:5, :]     # grab multiple rows as a DataFrame from 1st to 5th row, df[[1,3,7,9], :] grab some rows

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education  │ education-num │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰    │ Int64⍰        │
├─────┼────────┼───────────────────┼────────┼────────────┼───────────────┤
│ 1   │ 39     │  State-gov        │ 77516  │  Bachelors │ 13            │
│ 2   │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors │ 13            │
│ 3   │ 38     │  Private          │ 215646 │  HS-grad   │ 9             │
│ 4   │ 53     │  Private          │ 234721 │  11th      │ 7             │
│ 5   │ 28     │  Private          │ 338409 │  Bachelors │ 13            │

In [20]:
df[1, 1]    # grab one element

39

In [21]:
df[1:5, 3:10]  # grap certain part

5×8 DataFrame. Omitted printing of 4 columns
│ Row │ fnlwgt │ education  │ education-num │ marital-status      │
│     │ Int64⍰ │ String⍰    │ Int64⍰        │ String⍰             │
├─────┼────────┼────────────┼───────────────┼─────────────────────┤
│ 1   │ 77516  │  Bachelors │ 13            │  Never-married      │
│ 2   │ 83311  │  Bachelors │ 13            │  Married-civ-spouse │
│ 3   │ 215646 │  HS-grad   │ 9             │  Divorced           │
│ 4   │ 234721 │  11th      │ 7             │  Married-civ-spouse │
│ 5   │ 338409 │  Bachelors │ 13            │  Married-civ-spouse │

Rename column names

In [22]:
rename!(df, :sex => :Gender);   # renames column sex as Gender

In [23]:
rename!(df,                                     # renames multiple columns
    Symbol("capital-gain") => :CapitalGain, 
    Symbol("native-country: ") => :NativeCountry);

In [24]:
new_col_nms = Dict(                              # rename colums using Dictionary
    Symbol("marital-status") => :MaritalStatus,
    Symbol("education-num") => :EducationNum,
    Symbol("capital-loss") => :CapitalLoss,
    Symbol("hours-per-week") => :HoursperWeek,
    );
rename!(df, new_col_nms);

In [25]:
names(df)

15-element Array{Symbol,1}:
 :age
 :workclass
 :fnlwgt
 :education
 :EducationNum
 :MaritalStatus
 :occupation
 :relationship
 :race
 :Gender
 :CapitalGain
 :CapitalLoss
 :HoursperWeek
 :NativeCountry
 :class

In [26]:
:age in names(df)  # find column name in df

true

In [27]:
names(df)

15-element Array{Symbol,1}:
 :age
 :workclass
 :fnlwgt
 :education
 :EducationNum
 :MaritalStatus
 :occupation
 :relationship
 :race
 :Gender
 :CapitalGain
 :CapitalLoss
 :HoursperWeek
 :NativeCountry
 :class

Create Dataframe

In [28]:
DataFrame()   # creates empty DataFrame

0×0 DataFrame

In [29]:
DataFrame(          #creates empty DataFrame with specified column names and types
    Id=Int32[],
    Name=String[], 
    BirtDate=Float64[], 
    Height=Float64[])

0×4 DataFrame

In [30]:
using Random
DataFrame(A=1:3, B=rand(3), C=randstring.([3,3,3]))   # with column names and coumns as arrays
# DataFrame([1:3, rand(3), randstring.([3,3,3])], [:A, :B, :C]) gives the same dataframe

3×3 DataFrame
│ Row │ A     │ B        │ C      │
│     │ Int64 │ Float64  │ String │
├─────┼───────┼──────────┼────────┤
│ 1   │ 1     │ 0.870394 │ YIs    │
│ 2   │ 2     │ 0.927322 │ udL    │
│ 3   │ 3     │ 0.313963 │ cBk    │

In [31]:
DataFrame([Int, Float64, String], [:A, :B, :C], 0) # DataFrame with type and column names, but no rows

0×3 DataFrame

In [32]:
x = [rand(3) for i in 1:3];
DataFrame(x)         # DataFrame from array, matrix

3×3 DataFrame
│ Row │ x1       │ x2       │ x3       │
│     │ Float64  │ Float64  │ Float64  │
├─────┼──────────┼──────────┼──────────┤
│ 1   │ 0.841483 │ 0.783795 │ 0.955234 │
│ 2   │ 0.850927 │ 0.372474 │ 0.91945  │
│ 3   │ 0.496094 │ 0.976767 │ 0.269698 │

In [33]:
DataFrame(Int, 3, 5) #with type of all int and size of 3x5

3×5 DataFrame
│ Row │ x1          │ x2        │ x3          │ x4         │ x5        │
│     │ Int64       │ Int64     │ Int64       │ Int64      │ Int64     │
├─────┼─────────────┼───────────┼─────────────┼────────────┼───────────┤
│ 1   │ 21732257072 │ 149398896 │ 126552272   │ 8589934593 │ 134012240 │
│ 2   │ 193728128   │ 149398960 │ 21677468768 │ 8589934594 │ 134012272 │
│ 3   │ 193728192   │ 149454896 │ 126550592   │ 2          │ 134012304 │

In [34]:
x = Dict("A" => [1,2], "B" => [true, false], "C" => ['a', 'b'])
DataFrame(x)         # DataFrame from dictionary

2×3 DataFrame
│ Row │ A     │ B     │ C    │
│     │ Int64 │ Bool  │ Char │
├─────┼───────┼───────┼──────┤
│ 1   │ 1     │ true  │ 'a'  │
│ 2   │ 2     │ false │ 'b'  │

In [35]:
DataFrame(col1 = df[:education], col2 = df[:occupation])   # DataFrame from another dataframe

32561×2 DataFrame
│ Row   │ col1          │ col2               │
│       │ String⍰       │ String⍰            │
├───────┼───────────────┼────────────────────┤
│ 1     │  Bachelors    │  Adm-clerical      │
│ 2     │  Bachelors    │  Exec-managerial   │
│ 3     │  HS-grad      │  Handlers-cleaners │
│ 4     │  11th         │  Handlers-cleaners │
│ 5     │  Bachelors    │  Prof-specialty    │
│ 6     │  Masters      │  Exec-managerial   │
│ 7     │  9th          │  Other-service     │
│ 8     │  HS-grad      │  Exec-managerial   │
│ 9     │  Masters      │  Prof-specialty    │
│ 10    │  Bachelors    │  Exec-managerial   │
⋮
│ 32551 │  Some-college │  Craft-repair      │
│ 32552 │  10th         │  Handlers-cleaners │
│ 32553 │  Assoc-voc    │  Sales             │
│ 32554 │  Masters      │  Tech-support      │
│ 32555 │  Masters      │  Exec-managerial   │
│ 32556 │  Some-college │  Protective-serv   │
│ 32557 │  Assoc-acdm   │  Tech-support      │
│ 32558 │  HS-grad      │  Machine-op-inspct │
│ 32559 │  HS-grad      │  Adm-clerical      │
│ 32560 │  HS-grad      │  Adm-clerical      │
│ 32561 │  HS-grad      │  Exec-managerial   │

Modify DataFrame

In [36]:
df_new = df[1:100, 1:5];
empty!(df_new)   # remove everything from a DataFrame

0×0 DataFrame

In [37]:
df_new = df[1:100, 1:5];
deletecols!(df_new, 3)       # delete 3rd column
deletecols!(df_new, :age)    # delete column named age

100×3 DataFrame
│ Row │ workclass         │ education     │ EducationNum │
│     │ String⍰           │ String⍰       │ Int64⍰       │
├─────┼───────────────────┼───────────────┼──────────────┤
│ 1   │  State-gov        │  Bachelors    │ 13           │
│ 2   │  Self-emp-not-inc │  Bachelors    │ 13           │
│ 3   │  Private          │  HS-grad      │ 9            │
│ 4   │  Private          │  11th         │ 7            │
│ 5   │  Private          │  Bachelors    │ 13           │
│ 6   │  Private          │  Masters      │ 14           │
│ 7   │  Private          │  9th          │ 5            │
│ 8   │  Self-emp-not-inc │  HS-grad      │ 9            │
│ 9   │  Private          │  Masters      │ 14           │
│ 10  │  Private          │  Bachelors    │ 13           │
⋮
│ 90  │  Federal-gov      │  Doctorate    │ 16           │
│ 91  │  Private          │  Assoc-voc    │ 11           │
│ 92  │  Private          │  Some-college │ 10           │
│ 93  │  Private          │  Some-college │ 10           │
│ 94  │  Private          │  HS-grad      │ 9            │
│ 95  │  Local-gov        │  Bachelors    │ 13           │
│ 96  │  Local-gov        │  Some-college │ 10           │
│ 97  │  Self-emp-not-inc │  Doctorate    │ 16           │
│ 98  │  Private          │  Some-college │ 10           │
│ 99  │  Private          │  Assoc-acdm   │ 12           │
│ 100 │  Federal-gov      │  HS-grad      │ 9            │

In [38]:
df_new[:Id] = 1:100 # append new column

1:100

Sorting, Reordering Rows

In [39]:
issorted(df)     # is sorted by first column?

false

In [40]:
issorted(df, :workclass)  # is sorted by column age?

false

In [41]:
sort(df)    # sort by first column, to change df use sort!(df)

32561×15 DataFrame. Omitted printing of 10 columns
│ Row   │ age    │ workclass         │ fnlwgt │ education     │ EducationNum │
│       │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰       │
├───────┼────────┼───────────────────┼────────┼───────────────┼──────────────┤
│ 1     │ 17     │  ?                │ 34019  │  10th         │ 6            │
│ 2     │ 17     │  ?                │ 34088  │  12th         │ 8            │
│ 3     │ 17     │  ?                │ 41643  │  11th         │ 7            │
│ 4     │ 17     │  ?                │ 47407  │  11th         │ 7            │
│ 5     │ 17     │  ?                │ 48703  │  11th         │ 7            │
│ 6     │ 17     │  ?                │ 48751  │  11th         │ 7            │
│ 7     │ 17     │  ?                │ 64785  │  10th         │ 6            │
│ 8     │ 17     │  ?                │ 67808  │  10th         │ 6            │
│ 9     │ 17     │  ?                │ 80077  │  11th         │ 7            │
│ 10    │ 17     │  ?                │ 86786  │  10th         │ 6            │
⋮
│ 32551 │ 90     │  Private          │ 221832 │  Bachelors    │ 13           │
│ 32552 │ 90     │  Private          │ 226968 │  7th-8th      │ 4            │
│ 32553 │ 90     │  Private          │ 250832 │  10th         │ 6            │
│ 32554 │ 90     │  Private          │ 311184 │  Bachelors    │ 13           │
│ 32555 │ 90     │  Private          │ 313749 │  Bachelors    │ 13           │
│ 32556 │ 90     │  Private          │ 313749 │  HS-grad      │ 9            │
│ 32557 │ 90     │  Private          │ 313986 │  11th         │ 7            │
│ 32558 │ 90     │  Private          │ 313986 │  11th         │ 7            │
│ 32559 │ 90     │  Self-emp-not-inc │ 82628  │  HS-grad      │ 9            │
│ 32560 │ 90     │  Self-emp-not-inc │ 155981 │  Bachelors    │ 13           │
│ 32561 │ 90     │  Self-emp-not-inc │ 282095 │  Some-college │ 10           │

In [42]:
sort(df,:workclass)  # sort by column workclass

32561×15 DataFrame. Omitted printing of 10 columns
│ Row   │ age    │ workclass    │ fnlwgt │ education     │ EducationNum │
│       │ Int64⍰ │ String⍰      │ Int64⍰ │ String⍰       │ Int64⍰       │
├───────┼────────┼──────────────┼────────┼───────────────┼──────────────┤
│ 1     │ 54     │  ?           │ 180211 │  Some-college │ 10           │
│ 2     │ 32     │  ?           │ 293936 │  7th-8th      │ 4            │
│ 3     │ 25     │  ?           │ 200681 │  Some-college │ 10           │
│ 4     │ 67     │  ?           │ 212759 │  10th         │ 6            │
│ 5     │ 17     │  ?           │ 304873 │  10th         │ 6            │
│ 6     │ 35     │  ?           │ 129305 │  HS-grad      │ 9            │
│ 7     │ 43     │  ?           │ 174662 │  Some-college │ 10           │
│ 8     │ 52     │  ?           │ 252903 │  HS-grad      │ 9            │
│ 9     │ 68     │  ?           │ 38317  │  1st-4th      │ 2            │
│ 10    │ 53     │  ?           │ 135105 │  Bachelors    │ 13           │
⋮
│ 32551 │ 22     │  Without-pay │ 302347 │  HS-grad      │ 9            │
│ 32552 │ 46     │  Without-pay │ 142210 │  HS-grad      │ 9            │
│ 32553 │ 65     │  Without-pay │ 172949 │  HS-grad      │ 9            │
│ 32554 │ 52     │  Without-pay │ 198262 │  HS-grad      │ 9            │
│ 32555 │ 19     │  Without-pay │ 43887  │  HS-grad      │ 9            │
│ 32556 │ 62     │  Without-pay │ 170114 │  Assoc-acdm   │ 12           │
│ 32557 │ 29     │  Without-pay │ 212588 │  Some-college │ 10           │
│ 32558 │ 72     │  Without-pay │ 121004 │  HS-grad      │ 9            │
│ 32559 │ 68     │  Without-pay │ 174695 │  Some-college │ 10           │
│ 32560 │ 67     │  Without-pay │ 137192 │  HS-grad      │ 9            │
│ 32561 │ 62     │  Without-pay │ 159908 │  Some-college │ 10           │

In [43]:
sort(df, (:age, :fnlwgt), rev=(true, false)) # sort by age and then by :fnlwgt, age decreasing, fnlwgt increasing

32561×15 DataFrame. Omitted printing of 10 columns
│ Row   │ age    │ workclass     │ fnlwgt │ education     │ EducationNum │
│       │ Int64⍰ │ String⍰       │ Int64⍰ │ String⍰       │ Int64⍰       │
├───────┼────────┼───────────────┼────────┼───────────────┼──────────────┤
│ 1     │ 90     │  ?            │ 39824  │  HS-grad      │ 9            │
│ 2     │ 90     │  Private      │ 40388  │  Bachelors    │ 13           │
│ 3     │ 90     │  Private      │ 46786  │  Bachelors    │ 13           │
│ 4     │ 90     │  Private      │ 47929  │  HS-grad      │ 9            │
│ 5     │ 90     │  Private      │ 51744  │  HS-grad      │ 9            │
│ 6     │ 90     │  Private      │ 51744  │  Masters      │ 14           │
│ 7     │ 90     │  Private      │ 52386  │  Some-college │ 10           │
│ 8     │ 90     │  Private      │ 52386  │  Some-college │ 10           │
│ 9     │ 90     │  Private      │ 52386  │  Bachelors    │ 13           │
│ 10    │ 90     │  ?            │ 77053  │  HS-grad      │ 9            │
⋮
│ 32551 │ 17     │  ?            │ 406920 │  10th         │ 6            │
│ 32552 │ 17     │  Private      │ 413557 │  11th         │ 7            │
│ 32553 │ 17     │  Self-emp-inc │ 413557 │  9th          │ 5            │
│ 32554 │ 17     │  Private      │ 438996 │  10th         │ 6            │
│ 32555 │ 17     │  Private      │ 452406 │  11th         │ 7            │
│ 32556 │ 17     │  ?            │ 454614 │  11th         │ 7            │
│ 32557 │ 17     │  Private      │ 566049 │  10th         │ 6            │
│ 32558 │ 17     │  ?            │ 634226 │  10th         │ 6            │
│ 32559 │ 17     │  ?            │ 659273 │  11th         │ 7            │
│ 32560 │ 17     │  Private      │ 721712 │  10th         │ 6            │
│ 32561 │ 17     │  ?            │ 806316 │  11th         │ 7            │

In [44]:
sort(df, (order(:age, rev=true), :fnlwgt)) # the same as above

32561×15 DataFrame. Omitted printing of 10 columns
│ Row   │ age    │ workclass     │ fnlwgt │ education     │ EducationNum │
│       │ Int64⍰ │ String⍰       │ Int64⍰ │ String⍰       │ Int64⍰       │
├───────┼────────┼───────────────┼────────┼───────────────┼──────────────┤
│ 1     │ 90     │  ?            │ 39824  │  HS-grad      │ 9            │
│ 2     │ 90     │  Private      │ 40388  │  Bachelors    │ 13           │
│ 3     │ 90     │  Private      │ 46786  │  Bachelors    │ 13           │
│ 4     │ 90     │  Private      │ 47929  │  HS-grad      │ 9            │
│ 5     │ 90     │  Private      │ 51744  │  HS-grad      │ 9            │
│ 6     │ 90     │  Private      │ 51744  │  Masters      │ 14           │
│ 7     │ 90     │  Private      │ 52386  │  Some-college │ 10           │
│ 8     │ 90     │  Private      │ 52386  │  Some-college │ 10           │
│ 9     │ 90     │  Private      │ 52386  │  Bachelors    │ 13           │
│ 10    │ 90     │  ?            │ 77053  │  HS-grad      │ 9            │
⋮
│ 32551 │ 17     │  ?            │ 406920 │  10th         │ 6            │
│ 32552 │ 17     │  Private      │ 413557 │  11th         │ 7            │
│ 32553 │ 17     │  Self-emp-inc │ 413557 │  9th          │ 5            │
│ 32554 │ 17     │  Private      │ 438996 │  10th         │ 6            │
│ 32555 │ 17     │  Private      │ 452406 │  11th         │ 7            │
│ 32556 │ 17     │  ?            │ 454614 │  11th         │ 7            │
│ 32557 │ 17     │  Private      │ 566049 │  10th         │ 6            │
│ 32558 │ 17     │  ?            │ 634226 │  10th         │ 6            │
│ 32559 │ 17     │  ?            │ 659273 │  11th         │ 7            │
│ 32560 │ 17     │  Private      │ 721712 │  10th         │ 6            │
│ 32561 │ 17     │  ?            │ 806316 │  11th         │ 7            │

In [45]:
df[shuffle(1:10), :]  # n=num of rows, shuffles rows (using Random)

10×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education  │ EducationNum │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰    │ Int64⍰       │
├─────┼────────┼───────────────────┼────────┼────────────┼──────────────┤
│ 1   │ 31     │  Private          │ 45781  │  Masters   │ 14           │
│ 2   │ 53     │  Private          │ 234721 │  11th      │ 7            │
│ 3   │ 49     │  Private          │ 160187 │  9th       │ 5            │
│ 4   │ 28     │  Private          │ 338409 │  Bachelors │ 13           │
│ 5   │ 52     │  Self-emp-not-inc │ 209642 │  HS-grad   │ 9            │
│ 6   │ 39     │  State-gov        │ 77516  │  Bachelors │ 13           │
│ 7   │ 42     │  Private          │ 159449 │  Bachelors │ 13           │
│ 8   │ 38     │  Private          │ 215646 │  HS-grad   │ 9            │
│ 9   │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors │ 13           │
│ 10  │ 37     │  Private          │ 284582 │  Masters   │ 14           │

Concatenation/Merging DataFrames & Adding/Deleting Columns/Rows

In [46]:
df1 = DataFrame(Id=1:5, Code='a':'e', Grade=100:-10:60)

5×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │

In [47]:
df2 = DataFrame(Letter=['A','B','C','D','E'], Result=[true,false,true,true,false])

5×2 DataFrame
│ Row │ Letter │ Result │
│     │ Char   │ Bool   │
├─────┼────────┼────────┤
│ 1   │ 'A'    │ true   │
│ 2   │ 'B'    │ false  │
│ 3   │ 'C'    │ true   │
│ 4   │ 'D'    │ true   │
│ 5   │ 'E'    │ false  │

In [48]:
hcat(df1, df2)   # horizontal concatenation, or [df1 df2]

5×5 DataFrame
│ Row │ Id    │ Code │ Grade │ Letter │ Result │
│     │ Int64 │ Char │ Int64 │ Char   │ Bool   │
├─────┼───────┼──────┼───────┼────────┼────────┤
│ 1   │ 1     │ 'a'  │ 100   │ 'A'    │ true   │
│ 2   │ 2     │ 'b'  │ 90    │ 'B'    │ false  │
│ 3   │ 3     │ 'c'  │ 80    │ 'C'    │ true   │
│ 4   │ 4     │ 'd'  │ 70    │ 'D'    │ true   │
│ 5   │ 5     │ 'e'  │ 60    │ 'E'    │ false  │

In [49]:
df3 = DataFrame(Letter=['A','B','C','D','E'], Result=[true,false,true,true,false]);

In [50]:
hcat(df1, df2, df3)   # error, same column names result error

ArgumentError: ArgumentError: Duplicate variable names: :Letter and :Result. Pass makeunique=true to make them unique using a suffix automatically.

In [51]:
hcat(df1, df2, df3, makeunique=true)

5×7 DataFrame
│ Row │ Id    │ Code │ Grade │ Letter │ Result │ Letter_1 │ Result_1 │
│     │ Int64 │ Char │ Int64 │ Char   │ Bool   │ Char     │ Bool     │
├─────┼───────┼──────┼───────┼────────┼────────┼──────────┼──────────┤
│ 1   │ 1     │ 'a'  │ 100   │ 'A'    │ true   │ 'A'      │ true     │
│ 2   │ 2     │ 'b'  │ 90    │ 'B'    │ false  │ 'B'      │ false    │
│ 3   │ 3     │ 'c'  │ 80    │ 'C'    │ true   │ 'C'      │ true     │
│ 4   │ 4     │ 'd'  │ 70    │ 'D'    │ true   │ 'D'      │ true     │
│ 5   │ 5     │ 'e'  │ 60    │ 'E'    │ false  │ 'E'      │ false    │

In [52]:
[ $df1[1:2] $df2[1:2] $df1[3] ] # insert df2 into df1

ErrorException: syntax: "$" expression outside quote

In [53]:
insertcols!(df2, 2, newcol=[10,20,30,40,50], makeunique=true)  # insert array in second column in df2
#insertcols!(df2, 2, :newcol=>[1,2,3], makeunique=true)        # same

5×3 DataFrame
│ Row │ Letter │ newcol │ Result │
│     │ Char   │ Int64  │ Bool   │
├─────┼────────┼────────┼────────┤
│ 1   │ 'A'    │ 10     │ true   │
│ 2   │ 'B'    │ 20     │ false  │
│ 3   │ 'C'    │ 30     │ true   │
│ 4   │ 'D'    │ 40     │ true   │
│ 5   │ 'E'    │ 50     │ false  │

In [54]:
insertcols!(df2, ncol(df2)+1, :A => rand(5) )   # append column

5×4 DataFrame
│ Row │ Letter │ newcol │ Result │ A        │
│     │ Char   │ Int64  │ Bool   │ Float64  │
├─────┼────────┼────────┼────────┼──────────┤
│ 1   │ 'A'    │ 10     │ true   │ 0.701424 │
│ 2   │ 'B'    │ 20     │ false  │ 0.14296  │
│ 3   │ 'C'    │ 30     │ true   │ 0.64351  │
│ 4   │ 'D'    │ 40     │ true   │ 0.663145 │
│ 5   │ 'E'    │ 50     │ false  │ 0.374629 │

In [55]:
df4 = DataFrame(Id=6:10, Code='f':'j', Grade=50:-10:10)

5×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 6     │ 'f'  │ 50    │
│ 2   │ 7     │ 'g'  │ 40    │
│ 3   │ 8     │ 'h'  │ 30    │
│ 4   │ 9     │ 'i'  │ 20    │
│ 5   │ 10    │ 'j'  │ 10    │

In [56]:
vcat(df1, df4) # vertical concatenation, column names can be in different order

10×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │

In [57]:
[df1; df4] # # vertical concatenation, column names must be in same order

10×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │

In [58]:
append!(df1, df4)   # appends df4 to df1

10×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │

In [59]:
push!(df1, [11,'k',0])   # append matching array

11×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │
│ 11  │ 11    │ 'k'  │ 0     │

In [60]:
x = Dict(:Id=> 12, :Grade=> 60, :Code=> 'm'); # append matching(keys) dictionary
push!(df1, x)

12×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │
│ 11  │ 11    │ 'k'  │ 0     │
│ 12  │ 12    │ 'm'  │ 60    │

In [61]:
deleterows!(df1, 11)    # delete one row, 11th row

11×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │
│ 9   │ 9     │ 'i'  │ 20    │
│ 10  │ 10    │ 'j'  │ 10    │
│ 11  │ 12    │ 'm'  │ 60    │

In [62]:
deleterows!(df1, 9:11)   #delete a collection of rows

8×3 DataFrame
│ Row │ Id    │ Code │ Grade │
│     │ Int64 │ Char │ Int64 │
├─────┼───────┼──────┼───────┤
│ 1   │ 1     │ 'a'  │ 100   │
│ 2   │ 2     │ 'b'  │ 90    │
│ 3   │ 3     │ 'c'  │ 80    │
│ 4   │ 4     │ 'd'  │ 70    │
│ 5   │ 5     │ 'e'  │ 60    │
│ 6   │ 6     │ 'f'  │ 50    │
│ 7   │ 7     │ 'g'  │ 40    │
│ 8   │ 8     │ 'h'  │ 30    │

Filtering, Grouping

In [63]:
df[ df[:age] .>= 60, :]  # fiter df wrt age, where age >= 60, display all columns

2644×15 DataFrame. Omitted printing of 10 columns
│ Row  │ age    │ workclass         │ fnlwgt │ education     │ EducationNum │
│      │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰       │
├──────┼────────┼───────────────────┼────────┼───────────────┼──────────────┤
│ 1    │ 79     │  Private          │ 124744 │  Some-college │ 10           │
│ 2    │ 67     │  ?                │ 212759 │  10th         │ 6            │
│ 3    │ 76     │  Private          │ 124191 │  Masters      │ 14           │
│ 4    │ 61     │  Self-emp-inc     │ 66614  │  HS-grad      │ 9            │
│ 5    │ 70     │  Private          │ 105376 │  Some-college │ 10           │
│ 6    │ 64     │  Private          │ 181232 │  11th         │ 7            │
│ 7    │ 71     │  Self-emp-not-inc │ 494223 │  Some-college │ 10           │
│ 8    │ 68     │  ?                │ 38317  │  1st-4th      │ 2            │
│ 9    │ 66     │  Local-gov        │ 54826  │  Assoc-voc    │ 11           │
│ 10   │ 60     │  Private          │ 85815  │  HS-grad      │ 9            │
⋮
│ 2634 │ 66     │  Private          │ 269665 │  HS-grad      │ 9            │
│ 2635 │ 64     │  State-gov        │ 222966 │  7th-8th      │ 4            │
│ 2636 │ 61     │  Private          │ 355645 │  HS-grad      │ 9            │
│ 2637 │ 60     │  ?                │ 134152 │  9th          │ 5            │
│ 2638 │ 82     │  ?                │ 403910 │  HS-grad      │ 9            │
│ 2639 │ 71     │  Private          │ 138145 │  9th          │ 5            │
│ 2640 │ 66     │  Federal-gov      │ 47358  │  10th         │ 6            │
│ 2641 │ 81     │  ?                │ 120478 │  Assoc-voc    │ 11           │
│ 2642 │ 71     │  ?                │ 287372 │  Doctorate    │ 16           │
│ 2643 │ 72     │  ?                │ 129912 │  HS-grad      │ 9            │
│ 2644 │ 65     │  Self-emp-not-inc │ 99359  │  Prof-school  │ 15           │

In [64]:
df[ (df[:age] .>= 60) .& (df[:EducationNum] .>= 10) , :]

1172×15 DataFrame. Omitted printing of 10 columns
│ Row  │ age    │ workclass         │ fnlwgt │ education     │ EducationNum │
│      │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰       │
├──────┼────────┼───────────────────┼────────┼───────────────┼──────────────┤
│ 1    │ 79     │  Private          │ 124744 │  Some-college │ 10           │
│ 2    │ 76     │  Private          │ 124191 │  Masters      │ 14           │
│ 3    │ 70     │  Private          │ 105376 │  Some-college │ 10           │
│ 4    │ 71     │  Self-emp-not-inc │ 494223 │  Some-college │ 10           │
│ 5    │ 66     │  Local-gov        │ 54826  │  Assoc-voc    │ 11           │
│ 6    │ 75     │  Private          │ 314209 │  Assoc-voc    │ 11           │
│ 7    │ 60     │  Private          │ 173960 │  Bachelors    │ 13           │
│ 8    │ 77     │  Self-emp-not-inc │ 138714 │  Some-college │ 10           │
│ 9    │ 76     │  Self-emp-not-inc │ 174309 │  Masters      │ 14           │
│ 10   │ 62     │  Private          │ 270092 │  Masters      │ 14           │
⋮
│ 1162 │ 63     │  ?                │ 126540 │  Some-college │ 10           │
│ 1163 │ 75     │  Self-emp-not-inc │ 192813 │  Masters      │ 14           │
│ 1164 │ 74     │  Self-emp-not-inc │ 199136 │  Bachelors    │ 13           │
│ 1165 │ 62     │  Private          │ 170984 │  Some-college │ 10           │
│ 1166 │ 60     │  Private          │ 56248  │  Some-college │ 10           │
│ 1167 │ 61     │  Private          │ 149620 │  Some-college │ 10           │
│ 1168 │ 66     │  Self-emp-not-inc │ 102686 │  Masters      │ 14           │
│ 1169 │ 85     │  Private          │ 98611  │  Bachelors    │ 13           │
│ 1170 │ 81     │  ?                │ 120478 │  Assoc-voc    │ 11           │
│ 1171 │ 71     │  ?                │ 287372 │  Doctorate    │ 16           │
│ 1172 │ 65     │  Self-emp-not-inc │ 99359  │  Prof-school  │ 15           │

In [65]:
df[ (df[:age] .>= 60) .& (strip.(df[:Gender]) .== "Male") , :]  # string columns have space for each, strip removes it

1823×15 DataFrame. Omitted printing of 10 columns
│ Row  │ age    │ workclass         │ fnlwgt │ education     │ EducationNum │
│      │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰       │
├──────┼────────┼───────────────────┼────────┼───────────────┼──────────────┤
│ 1    │ 79     │  Private          │ 124744 │  Some-college │ 10           │
│ 2    │ 67     │  ?                │ 212759 │  10th         │ 6            │
│ 3    │ 76     │  Private          │ 124191 │  Masters      │ 14           │
│ 4    │ 61     │  Self-emp-inc     │ 66614  │  HS-grad      │ 9            │
│ 5    │ 70     │  Private          │ 105376 │  Some-college │ 10           │
│ 6    │ 64     │  Private          │ 181232 │  11th         │ 7            │
│ 7    │ 71     │  Self-emp-not-inc │ 494223 │  Some-college │ 10           │
│ 8    │ 60     │  Private          │ 85815  │  HS-grad      │ 9            │
│ 9    │ 64     │  ?                │ 187656 │  1st-4th      │ 2            │
│ 10   │ 90     │  Private          │ 51744  │  HS-grad      │ 9            │
⋮
│ 1813 │ 66     │  Self-emp-not-inc │ 102686 │  Masters      │ 14           │
│ 1814 │ 61     │  Private          │ 137554 │  7th-8th      │ 4            │
│ 1815 │ 85     │  Private          │ 98611  │  Bachelors    │ 13           │
│ 1816 │ 61     │  Private          │ 355645 │  HS-grad      │ 9            │
│ 1817 │ 60     │  ?                │ 134152 │  9th          │ 5            │
│ 1818 │ 82     │  ?                │ 403910 │  HS-grad      │ 9            │
│ 1819 │ 71     │  Private          │ 138145 │  9th          │ 5            │
│ 1820 │ 66     │  Federal-gov      │ 47358  │  10th         │ 6            │
│ 1821 │ 71     │  ?                │ 287372 │  Doctorate    │ 16           │
│ 1822 │ 72     │  ?                │ 129912 │  HS-grad      │ 9            │
│ 1823 │ 65     │  Self-emp-not-inc │ 99359  │  Prof-school  │ 15           │

In [66]:
filter(r -> r[:age] >= 60, df)  # filtering func. on DataFrameRow, same with above

2644×15 DataFrame. Omitted printing of 10 columns
│ Row  │ age    │ workclass         │ fnlwgt │ education     │ EducationNum │
│      │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰       │ Int64⍰       │
├──────┼────────┼───────────────────┼────────┼───────────────┼──────────────┤
│ 1    │ 79     │  Private          │ 124744 │  Some-college │ 10           │
│ 2    │ 67     │  ?                │ 212759 │  10th         │ 6            │
│ 3    │ 76     │  Private          │ 124191 │  Masters      │ 14           │
│ 4    │ 61     │  Self-emp-inc     │ 66614  │  HS-grad      │ 9            │
│ 5    │ 70     │  Private          │ 105376 │  Some-college │ 10           │
│ 6    │ 64     │  Private          │ 181232 │  11th         │ 7            │
│ 7    │ 71     │  Self-emp-not-inc │ 494223 │  Some-college │ 10           │
│ 8    │ 68     │  ?                │ 38317  │  1st-4th      │ 2            │
│ 9    │ 66     │  Local-gov        │ 54826  │  Assoc-voc    │ 11           │
│ 10   │ 60     │  Private          │ 85815  │  HS-grad      │ 9            │
⋮
│ 2634 │ 66     │  Private          │ 269665 │  HS-grad      │ 9            │
│ 2635 │ 64     │  State-gov        │ 222966 │  7th-8th      │ 4            │
│ 2636 │ 61     │  Private          │ 355645 │  HS-grad      │ 9            │
│ 2637 │ 60     │  ?                │ 134152 │  9th          │ 5            │
│ 2638 │ 82     │  ?                │ 403910 │  HS-grad      │ 9            │
│ 2639 │ 71     │  Private          │ 138145 │  9th          │ 5            │
│ 2640 │ 66     │  Federal-gov      │ 47358  │  10th         │ 6            │
│ 2641 │ 81     │  ?                │ 120478 │  Assoc-voc    │ 11           │
│ 2642 │ 71     │  ?                │ 287372 │  Doctorate    │ 16           │
│ 2643 │ 72     │  ?                │ 129912 │  HS-grad      │ 9            │
│ 2644 │ 65     │  Self-emp-not-inc │ 99359  │  Prof-school  │ 15           │

In [67]:
grouped_df = groupby(df, :education);  # groups dataframe by workclass and returns sub dataframes

In [68]:
length(grouped_df)

16

In [69]:
first(grouped_df[1], 5)  # 1st group is education=Bachelor, see first 5 elements from this dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education  │ EducationNum │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰    │ Int64⍰       │
├─────┼────────┼───────────────────┼────────┼────────────┼──────────────┤
│ 1   │ 39     │  State-gov        │ 77516  │  Bachelors │ 13           │
│ 2   │ 50     │  Self-emp-not-inc │ 83311  │  Bachelors │ 13           │
│ 3   │ 28     │  Private          │ 338409 │  Bachelors │ 13           │
│ 4   │ 42     │  Private          │ 159449 │  Bachelors │ 13           │
│ 5   │ 30     │  State-gov        │ 141297 │  Bachelors │ 13           │

In [70]:
first(grouped_df[16],5) # last group is education=12th, see first 5 elements from this dataframe

5×15 DataFrame. Omitted printing of 10 columns
│ Row │ age    │ workclass         │ fnlwgt │ education │ EducationNum │
│     │ Int64⍰ │ String⍰           │ Int64⍰ │ String⍰   │ Int64⍰       │
├─────┼────────┼───────────────────┼────────┼───────────┼──────────────┤
│ 1   │ 35     │  Private          │ 92440  │  12th     │ 8            │
│ 2   │ 52     │  ?                │ 271749 │  12th     │ 8            │
│ 3   │ 39     │  Local-gov        │ 207853 │  12th     │ 8            │
│ 4   │ 18     │  ?                │ 165532 │  12th     │ 8            │
│ 5   │ 44     │  Self-emp-not-inc │ 335183 │  12th     │ 8            │

In [71]:
by(df,:workclass, size)   # group df by column named ‘workclass’, and apply function (here counts each group)

9×2 DataFrame
│ Row │ workclass         │ x1          │
│     │ String⍰           │ Tuple…      │
├─────┼───────────────────┼─────────────┤
│ 1   │  State-gov        │ (1298, 15)  │
│ 2   │  Self-emp-not-inc │ (2541, 15)  │
│ 3   │  Private          │ (22696, 15) │
│ 4   │  Federal-gov      │ (960, 15)   │
│ 5   │  Local-gov        │ (2093, 15)  │
│ 6   │  ?                │ (1836, 15)  │
│ 7   │  Self-emp-inc     │ (1116, 15)  │
│ 8   │  Without-pay      │ (14, 15)    │
│ 9   │  Never-worked     │ (7, 15)     │

In [72]:
using Statistics
by(df,:workclass, df->mean(df[:fnlwgt]))     # calculate mean fnlwgt of each workclass

9×2 DataFrame
│ Row │ workclass         │ x1        │
│     │ String⍰           │ Float64   │
├─────┼───────────────────┼───────────┤
│ 1   │  State-gov        │ 1.84137e5 │
│ 2   │  Self-emp-not-inc │ 1.75609e5 │
│ 3   │  Private          │ 1.92764e5 │
│ 4   │  Federal-gov      │ 1.85221e5 │
│ 5   │  Local-gov        │ 1.8864e5  │
│ 6   │  ?                │ 1.88516e5 │
│ 7   │  Self-emp-inc     │ 1.75981e5 │
│ 8   │  Without-pay      │ 1.74268e5 │
│ 9   │  Never-worked     │ 2.2599e5  │