Basics

In [1]:
x = 3   # variable declaration

3

In [2]:
typeof(x)   # check type of variable

Int64

In [3]:
y = 3.0; typeof(y)

Float64

In [4]:
s1 = "string";  # string declaration
s2 = """ another way of "string" declaration """;  # makes quotation in string possible
s3 = """ multiple 
line 
string """;
typeof(s1),typeof(s2),typeof(s3)

(String, String, String)

In [5]:
s1

"string"

In [6]:
s2

" another way of \"string\" declaration "

In [7]:
s3

" multiple \nline \nstring "

In [8]:
c = 'A'  # character declaration

'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

In [9]:
d = 'AbcDefg'  # cannot assign string with single quote

LoadError: syntax: invalid character literal

In [10]:
yf = convert(Int, y)   # convert float to int
typeof(y), typeof(yf)

(Float64, Int64)

In [11]:
convert(Float64, x)  # convert int to float, or simply multiple by 1.0

3.0

In [12]:
x * 1.0

3.0

In [13]:
convert(Int,"1")  # cannot convert string to Int

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Int64
Closest candidates are:
  convert(::Type{T<:Number}, !Matched::T<:Number) where T<:Number at number.jl:6
  convert(::Type{T<:Number}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T<:Integer}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [14]:
z = parse(Int64, "1")

1

In [15]:
typeof(z)

Int64

In [16]:
string(20),string(2.0)  # convert to string

("20", "2.0")

In [17]:
println("How to print values on screen")
age = 20;
println("My age is $age.")  # use dollar sign to call variables in string

How to print values on screen
My age is 20.

In [18]:
salary = 1000;
println("My annual salary is $(salary*12)") # calculation in print line is also possible

My annual salary is 12000

String concatenation

In [19]:
s1 = "My age ";
s2 = "is ";
s3 = 35;
string(s1,s2,s3)

"My age is 35"

In [20]:
s1*s2*string(s3)

"My age is 35"

In [21]:
s1^3  # similar to s1*s1*s1

"My age My age My age "

Tuples, Dictionaries, Arrays

In [22]:
tuple = (1, 2.0 ,"cat" ,'a')  # tuple declaration, use paranthesis, tuples cannot be updated)

(1, 2.0, "cat", 'a')

In [23]:
tuple[2]   # call element from tuple, Julia indexing starts with 1

2.0

In [24]:
tuple[2] = 3.0  # as stated, cannot be updated

MethodError: MethodError: no method matching setindex!(::Tuple{Int64,Float64,String,Char}, ::Float64, ::Int64)

In [25]:
namedtuple = (id=1 ,name="John", code='A')  # namedtuple declaration

(id = 1, name = "John", code = 'A')

In [26]:
namedtuple[3]   # call element from namedtuple

'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

In [27]:
namedtuple.code   # call element from namedtuple

'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

In [28]:
namedtuple[3]='B' # cannot be updated

MethodError: MethodError: no method matching setindex!(::NamedTuple{(:id, :name, :code),Tuple{Int64,String,Char}}, ::Char, ::Int64)

In [29]:
dictionary = Dict("Book" => "Kitap", "Pencil" => "Kalem")  # dictionary declaration

Dict{String,String} with 2 entries:
  "Pencil" => "Kalem"
  "Book"   => "Kitap"

In [30]:
dictionary["Pencil"]   # call element from dictionary

"Kalem"

In [31]:
dictionary["Eraser"] = "Silgi";  # add new element
dictionary

Dict{String,String} with 3 entries:
  "Eraser" => "Silgi"
  "Pencil" => "Kalem"
  "Book"   => "Kitap"

In [32]:
dictionary["Pencil"] = "Yazı kalemi";  # update existing element
dictionary

Dict{String,String} with 3 entries:
  "Eraser" => "Silgi"
  "Pencil" => "Yazı kalemi"
  "Book"   => "Kitap"

In [33]:
pop!( dictionary, "Pencil");  # delete element
dictionary

Dict{String,String} with 2 entries:
  "Eraser" => "Silgi"
  "Book"   => "Kitap"

In [34]:
new_dict = Dict()  # declare empty dictionary

Dict{Any,Any} with 0 entries

In [35]:
new_dict = Dict{Integer,String}()  # declare empty dictionary specifying types

Dict{Integer,String} with 0 entries

In [36]:
new_dict[1] = "fruit";
new_dict[2] = "animal";
new_dict[5] = "flower";
new_dict

Dict{Integer,String} with 3 entries:
  2 => "animal"
  5 => "flower"
  1 => "fruit"

In [37]:
new_dict = Dict{String,Vector{String}}()  # index = string, matching =vector of strings

Dict{String,Array{String,1}} with 0 entries

In [38]:
new_dict["Fruits"] = ["apple","banana"];
new_dict["Flowers"] = ["rose"];
new_dict["Animals"] = ["cat", "dog", "horse"];
new_dict

Dict{String,Array{String,1}} with 3 entries:
  "Animals" => ["cat", "dog", "horse"]
  "Fruits"  => ["apple", "banana"]
  "Flowers" => ["rose"]

In [39]:
array = [1, 1, 2, 3, "Ted", "Robyn"]  # declare array

6-element Array{Any,1}:
 1
 1
 2
 3
  "Ted"
  "Robyn"

In [40]:
array[4]  # call element of array

3

In [41]:
array[4] = 7 # update element

7

In [42]:
push!(array, 10)  # add new element to end

7-element Array{Any,1}:
  1
  1
  2
  7
   "Ted"
   "Robyn"
 10

In [43]:
pop!(array)   # delete last entry

10

In [44]:
array

6-element Array{Any,1}:
 1
 1
 2
 7
  "Ted"
  "Robyn"

In [45]:
array_of_arrays = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]  # array of arrays

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

In [46]:
array_of_arrays[2]

2-element Array{Int64,1}:
 4
 5

In [47]:
array_of_arrays[2] = 1  # error

MethodError: MethodError: Cannot `convert` an object of type Int64 to an object of type Array{Int64,1}
Closest candidates are:
  convert(::Type{T<:Array}, !Matched::AbstractArray) where T<:Array at array.jl:474
  convert(::Type{T<:AbstractArray}, !Matched::T<:AbstractArray) where T<:AbstractArray at abstractarray.jl:14
  convert(::Type{T<:AbstractArray}, !Matched::LinearAlgebra.Factorization) where T<:AbstractArray at C:\cygwin\home\Administrator\buildbot\worker\package_win64\build\usr\share\julia\stdlib\v1.1\LinearAlgebra\src\factorization.jl:46
  ...

In [48]:
array_of_arrays[2] = [1];
array_of_arrays

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [1]
 [6, 7, 8, 9]

In [49]:
x = [4,1,7,5,11]  # automatically declares as array of integer

5-element Array{Int64,1}:
  4
  1
  7
  5
 11

In [50]:
y = [4,1,7,5.0,11]  # automatically declares as array of floats

5-element Array{Float64,1}:
  4.0
  1.0
  7.0
  5.0
 11.0

In [51]:
z = [4,1,7,4,5,11,2,5,7];
sort(z)   # sorted array

9-element Array{Int64,1}:
  1
  2
  4
  4
  5
  5
  7
  7
 11

In [52]:
unique(z)   # unique elements of array

6-element Array{Int64,1}:
  4
  1
  7
  5
 11
  2

In [53]:
sort(unique(z))  # better way to observe

6-element Array{Int64,1}:
  1
  2
  4
  5
  7
 11

In [54]:
typeof(z)  # type of z, array of integers

Array{Int64,1}

In [55]:
eltype(z)  # type of elements of z, integers

Int64